@font-face {
  font-family: "iconfont"; /* Project id 3657783 */
  src: url('iconfont.woff2?t=1663760885196') format('woff2'),
       url('iconfont.woff?t=1663760885196') format('woff'),
       url('iconfont.ttf?t=1663760885196') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou:before {
  content: "\e662";
}

.icon-fanhuidingbu:before {
  content: "\e609";
}

.icon-guanzhu:before {
  content: "\e613";
}

.icon-fanhuijiantou:before {
  content: "\e8b5";
}

.icon-jinrujiantouxiao:before {
  content: "\e8ba";
}

.icon-jiantouyou:before {
  content: "\e62d";
}

.icon-chakanhuida:before {
  content: "\e60a";
}

.icon-hua:before {
  content: "\e62c";
}

.icon-jiaolian1:before {
  content: "\e69d";
}

.icon-bofang_o:before {
  content: "\eb5e";
}

.icon-jine:before {
  content: "\e666";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-notice-color:before {
  content: "\e7e2";
}

.icon-lock-color:before {
  content: "\e7f9";
}

.icon-host-color:before {
  content: "\e7fa";
}

.icon-set-color:before {
  content: "\e7fb";
}

.icon-warn:before {
  content: "\e879";
}

.icon-model-color:before {
  content: "\e8b9";
}

